<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


</style>
</head>
<body>

<h1>Apple Nail Salon</h1>
<h2>Here is a list of our technicians and their availability for today and their hours</h2>
<table>


    <tr>
        <th>Available Technicians</th>
        {% for tech in techs %}
            <th>{{ tech.user.first_name }} {{ tech.user.last_name }}</th>
        {% endfor %}
    </tr>

    <tr>
        <th>9:00am<BR></th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.nine_00_am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}

        {% endfor %}
    </tr>
    <tr>
        <th>9:15am</th>
        {% for tech in techs %}
          {% if tech.schedule.getTodaysTimeSlots.nine_15am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>9:30am<BR></th>
         {% for tech in techs %}
             {% if tech.schedule.getTodaysTimeSlots.nine_30am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>9:45am</th>
         {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.nine_45am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>
    <tr>
        <th>10:00am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.ten_00_amam %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>10:15am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.ten_15am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>10:30am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.ten_30amam %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>10:45am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.ten_45am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>11:00am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.eleven_00_am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>11:15am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.eleven_15am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>11:30am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.eleven_30am%}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>11:45am</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.eleven_45am %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>12:00pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.twelve_00_pm%}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>12:15pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.twelve_15pm%}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>12:30pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.twelve_30pm%}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>12:45pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.twelve_45pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>1:00pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.one_00_pm%}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>1:15pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.one_15pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>1:30pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.one_30pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>1:45pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.one_45pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>2:00pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.two_00_pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>2:15pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.two_15pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>2:30pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.two_30pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>

    <tr>
        <th>2:45pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.two_45pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>3:00pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.three_00_pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>3:15pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.three_15pm%}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>3:30pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.three_30pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>3:45pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.three_45pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>4:00pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.four_00_pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>4:15pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.four_15pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>4:30pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.four_30pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>


    <tr>
        <th>4:45pm</th>
        {% for tech in techs %}
            {% if tech.schedule.getTodaysTimeSlots.four_45pm %}<td bgcolor="green">Available</td>{% else %}<td bgcolor="#ff4500">Not Available</td>{% endif %}
        {% endfor %}
    </tr>




</table>
</body>
</html>