{% extends "base.html" %}

{% load static %}

{% block head %}
{% block title %}<title>Confirm Appointment</title>{% endblock %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'account:security' %}">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            Meet the team
                        </a>
                        <a class="navbar-item">
                            Career Opportunities
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Promotions
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>


            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a href="{% url 'cart:cart_detail' %}" class="has-text-black">
                            <img src="shopping_bag.png" style=""/>
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                                {% else %}
                                    Empty
                                {% endif %}
                            {% endwith %}
                        </a>

                        &nbsp;
                        &nbsp;

                        <a class="button is-success" href="{% url 'appointments:service_list' %}">
                            Book Appointment
                        </a>

                        <a class="button is-light" href="{% url 'account:logout' %}">
                            Sign Out
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block mainbody %}

    <section class="hero is-fullheight">
        <div class='column has-text-centered is-half' style="position: relative; width: 100%;">
            <div class='child'>
                <div class="box has-text-left">
                    <!--make the progress bar display a green check mark for the first step, and give them the option to continue.
                    this design will need to be consistent throughout all of the pages -->
                    <a href="{% url 'appointments:service_list' %}">
                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 0%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="carbon:shopping-bag" width="50"></iconify-icon>
                            <p>Add service(s) below</p>
                        </div>
                    </a>

                    <a href="{% url 'cart:cart_detail' %}">
                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>
                            <p>Confirm your services</p>
                        </div>
                    </a>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="bi:person-check-fill" width="50"></iconify-icon>
                        <p>Select Technician</p>

                    </div>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; ">
                        <iconify-icon icon="akar-icons:calendar" width="50"></iconify-icon>
                        <p>Select Date & Time</p>
                    </div>

                    <div class="step has-text-centered"
                         style="display: inline-block; padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>
                        <p>Confirm your appointment</p>
                    </div>


                    <div class="stepsNumbers" style="display: flex; align-items: center;">
                        {% if cart|length > 0 %}
                            <iconify-icon icon="bi:1-circle-fill" width="25"
                                          style="margin-left: 6%; color: lightgreen;"></iconify-icon>
                        {% else %}
                            <iconify-icon icon="bi:1-circle" width="25"
                                          style="margin-left: 6%;"></iconify-icon>

                        {% endif %}

                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:2-circle-fill" width="25" style="color: lightgreen"></iconify-icon>

                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:3-circle-fill" width="25" style="color: lightgreen"></iconify-icon>

                        <div class="hr" style="border: 1px solid black; width: 17%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:4-circle-fill" width="25"></iconify-icon>
                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:5-circle" width="25"></iconify-icon>

                    </div>
                </div>
            </div>
        </div>

        <!--Add some spacing-->
        <section class="field-body" style="margin-left: 55%; margin-top: 7%; position: relative;">
            <div class="field-label has-text centered" style="margin: -5%;">
                <p class="title has-text-black has-text-centered">
                    Availability
                </p>

            </div>

            <!--render a box in here to hold the dates-->
            <div class="box"
                 style="border-radius: 5px; margin-top: 5%; width: 100%; overflow-y: scroll; position: absolute; height: 75%;">
                {% for day in availableDates %}
                    <!-- create a styled box for each of the dates and then render them that way-->

                    <button class="button is-fullwidth is-spaced is-size-5 has-text-centered" style="margin: 2%; padding: 10px;">{{ day.date }}</button>

                {% endfor %}

            </div>
        </section>

        <section class="field-body" style="margin-left: 5%; margin-top: 10%; position:absolute;">

            <div class="field-label has-text-left">
                <p class="title has-text-black has-text-left" style="margin-bottom: 100%;">
                    Morning
                </p>

                <p class="title has-text-black has-text-left" style="margin-bottom: 100%;">
                    Afternoon
                </p>

                <p class="title has-text-black has-text-left" style="margin-bottom: 100%;">
                    Evening
                </p>

            </div>


        </section>


    </section>

{% endblock %}