{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}Schedule Now!{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'account:security' %}">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            Meet the team
                        </a>
                        <a class="navbar-item">
                            Career Opportunities
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Promotions
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a href="{% url 'cart:cart_detail' %}" class="has-text-black">
                            <img src="../../../Account/static/shopping_bag.png" style=""/>
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                                {% else %}
                                    Empty
                                {% endif %}
                            {% endwith %}
                        </a>

                        <a class="button is-success" href="{% url 'appointments:service_list' %}">
                            Book Appointment
                        </a>

                        <a class="button is-light" href="{% url 'account:logout' %}">
                            Sign Out
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block mainbody %}
    <section class="hero is-fullheight">
        <div id="ScheduleBanner">
            <div class="hero-head has-text-centered">
                <p class="title is-size-1 has-text-grey-dark" style="margin-top: 5%; margin-bottom: 0;">
                    Please Select Your Service Provider
                </p>
            </div>
        </div>

        <div class='column has-text-centered is-half' style="position: relative; width: 100%;">
            <div class='child'>
                <div class="box has-text-left">
                    <!--make the progress bar display a green check mark for the first step, and give them the option to continue.
                    this design will need to be consistent throughout all of the pages -->
                    <a href="{% url 'appointments:service_list' %}">
                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 0%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="carbon:shopping-bag" width="50"></iconify-icon>
                            <p>Add service(s) below</p>
                        </div>
                    </a>

                    <a href="{% url 'cart:cart_detail' %}">
                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>
                            <p>Confirm your services</p>
                        </div>
                    </a>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%;">
                        <iconify-icon icon="bi:person-check-fill" width="50"></iconify-icon>
                        <p>Select Technician</p>

                    </div>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="akar-icons:calendar" width="50"></iconify-icon>
                        <p>Select Date & Time</p>
                    </div>

                    <div class="step has-text-centered"
                         style="display: inline-block; padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>
                        <p>Confirm your appointment</p>
                    </div>


                    <div class="stepsNumbers" style="display: flex; align-items: center;">
                        {% if cart|length > 0 %}
                            <iconify-icon icon="bi:1-circle-fill" width="25"
                                          style="margin-left: 6%; color: lightgreen;"></iconify-icon>
                        {% else %}
                            <iconify-icon icon="bi:1-circle" width="25"
                                          style="margin-left: 6%;"></iconify-icon>

                        {% endif %}

                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:2-circle-fill" width="25" style="color: lightgreen"></iconify-icon>

                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:3-circle-fill" width="25"></iconify-icon>

                        <div class="hr" style="border: 1px solid black; width: 17%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:4-circle" width="25"></iconify-icon>
                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:5-circle" width="25"></iconify-icon>

                    </div>
                </div>
            </div>
        </div>

        <div class="column has-text-centered">
            <div class="hero-head has-text-centered">
                <p class="title has-text-grey-dark" style="margin-top: 5%; margin-bottom: 0;">
                    Choose from one of our technicians below, or have us choose for you.
                </p>
                <br>
                <a class="button is-info" href="{% url 'account:home' %}">Choose For Me</a>
            </div>

                    <form method="POST" class="post-form">
                    {% csrf_token %}

            <!-- add the cards for displaying each of the unique technicians and render them within a form to get the selected ID-->
            <div class="p-6 columns is-flex-wrap-wrap has-text-centered" style="margin-left: 15%;">


                {% for tech in techs %}
                    <!-- create a styled box for each of the dates and then render them that way-->


                    <div class="card" style="width: 18rem; margin: 1%; height: 100%;">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img {% if tech.profilePicture %}src="{{ tech.profilePicture.url }}"
                                     {% else %} src="{{ tech.profilePicture.url }}" {% endif %}>
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">

                                <div class="media-content" style="height: 75px; margin: 0;">
                                    <p class="title is-4 has-text-black">{{ tech.user.first_name }} {{ tech.user.last_name }}</p>
                                </div>

                            </div>

                        </div>
                        <footer class="card-footer">
                            <button class="button is-primary is-fullwidth" type="submit" value="{{ tech.id }}" name="technician">Schedule Now!</button>

                        </footer>
                    </div>

                {% endfor %}
            </form>
            </div>



        </div>
    </section>


{% endblock %}