{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>

{% block title %}<title>Schedule Confirmed</title>{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item" href="{% url 'account:profile' %}">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'account:security' %}">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            Meet the team
                        </a>
                        <a class="navbar-item">
                            Career Opportunities
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Promotions
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>


            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a href="{% url 'cart:cart_detail' %}" class="has-text-black">
                            <img src="../../static/shopping_bag.png" style=""/>
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                        ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                                {% else %}
                                    Empty
                                {% endif %}
                            {% endwith %}
                        </a>

                        &nbsp;
                        &nbsp;

                        <a class="button is-success" href="{% url 'appointments:service_list' %}">
                            Book Appointment
                        </a>

                        <a class="button is-light" href="{% url 'account:logout' %}">
                            Sign Out
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}

{% block mainbody %}
<form method="post" class="post-form">
<section class="hero-head has-text-centered">
        <p  class="title has-text-black">
            <br>
            <br>
            Schedule Confirmed
        </p>
    </section>
    {% csrf_token %}

    <section class="section has-text-left">
    <input type="submit" class="button is-info" value="Confirm" name="Return to Home">
    </section>

</form>
{% endblock %}