{% extends 'base.html' %}

{% load static %}

{% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}My Cart{% endblock %}</title>
    <link href="{% static "css/cartDetail.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>


{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item" href="{% url 'account:profile' %}">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'account:security' %}">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            Meet the team
                        </a>
                        <a class="navbar-item">
                            Career Opportunities
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Promotions
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    <a href="{% url 'cart:cart_detail' %}" class="has-text-black" style="padding-right: 15px;">
                        <img src="../../static/shopping_bag.png" style=""/>
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                            {% else %}
                                Empty
                            {% endif %}
                        {% endwith %}
                    </a>

                    <a class="button is-success" href="{% url 'appointments:service_list' %}">
                        Book Appointment
                    </a>

                    <a class="button is-light" href="{% url 'account:logout' %}">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
        </div>


    </nav>
{% endblock %}

{% block mainbody %}
    <section class="hero is-fullheight">
        <div class="banner">
            <div class="hero-head has-text-centered">
                <p class="title is-size-1 has-text-grey-dark" style="margin-top: 5%; margin-bottom: 0;">
                    Confirm Your Services!
                </p>
            </div>
        </div>

        <div class='column has-text-centered' style="position: relative; width: 100%;">
            <div class='child'>
                <div class="box has-text-left">
                    <!--make the progress bar display a green check mark for the first step, and give them the option to continue.
                    this design will need to be consistent throughout all of the pages -->
                    <a href="{% url 'appointments:service_list' %}">
                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 0%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="carbon:shopping-bag" width="50"></iconify-icon>
                            <p>Add service(s) below</p>
                        </div>
                    </a>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%;">
                        <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>
                        <p>Confirm your services</p>
                    </div>

                {% if customer %}
                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="bi:person-check-fill" width="50"></iconify-icon>
                        <p>Select Technician</p>

                    </div>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="akar-icons:calendar" width="50"></iconify-icon>
                        <p>Select Date & Time</p>
                    </div>

                {% elif manager %}
                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="bi:person-check-fill" width="50"></iconify-icon>
                        <p>Select Customer</p>

                    </div>

                    <div class="step has-text-centered"
                         style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="akar-icons:calendar" width="50"></iconify-icon>
                        <p>Provide Additional Details</p>
                    </div>

                {% endif %}

                    <div class="step has-text-centered"
                         style="display: inline-block; padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                        <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>
                        <p>Confirm your appointment</p>
                    </div>


                    <div class="stepsNumbers" style="display: flex; align-items: center;">
                        {% if cart|length > 0 %}
                            <iconify-icon icon="bi:1-circle-fill" width="25"
                                      style="margin-left: 6%; color: lightgreen;"></iconify-icon>
                        {% else %}
                            <iconify-icon icon="bi:1-circle" width="25"
                                      style="margin-left: 6%;"></iconify-icon>

                        {% endif %}

                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:2-circle-fill" width="25"></iconify-icon>

                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:3-circle" width="25"></iconify-icon>

                        <div class="hr" style="border: 1px solid black; width: 17%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:4-circle" width="25"></iconify-icon>
                        <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                        </div>

                        <iconify-icon icon="bi:5-circle" width="25"></iconify-icon>

                    </div>
                </div>
            </div>
            <div class='child'>

                {% if manager and cart|length > 0 %}

                    <a class="button is-primary" href="{% url 'appointments:select_customer' %}">Enter Customer Details</a>

                {% elif customer and cart|length > 0  %}
                    <a class="button is-info" href="{% url 'appointments:appointment_create' %}">Continue</a>

                {% endif %}
            </div>
        </div>

    {% if cart|length > 0 %}

        <div class="column">
            <div class="tableContainer"
                 style="margin-left: 15%; margin-right: 15%; height: 75%; overflow-y: scroll; overflow-x: hidden;">

                <table class="table">
                    {% for item in cart %}
                        {% with service=item.service %}
                            <tr>
                                <td>{{ service.name }}</td>
                                <td><img src="
                                        {% if service.image %}{{ service.image.url }}{% else %}{{ 'https://images6.alphacoders.com/348/348005.jpg' }}{% endif %}"
                                         alt="" width="100" height="200"></td>
                                <td>$ {{ service.price }}</td>


                                <td>

                                    <a class="button is-danger"
                                       onclick="return confirm('Are you sure you want to delete?')"
                                       href="{% url "cart:cart_remove" service.id %}">Remove</a></td>

                            </tr>
                        {% endwith %}
                    {% endfor %}

                    <tr>

                    </tr>
                </table>
            </div>

        </div>

        {% else %}

        <div class="hero-body is-align-items-stretch" style="display: inline-block; padding: 15px; margin: auto;">
        <div class="container has-text-centered">
            <p class="title has-text-black">
                Your Services
                <!-- If user has one or more appointments, render a table, otherwise display an image-->
            <div class="box" style="">

                <div class="title has-text-grey is-5">It doesn't look like you have added any services to your cart just yet.
                    <br>
                    <br>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjy3_45HDoLtedaF2WO4zWEmuP6VF4LCZBLg&usqp=CAU"
                         alt="nail cartoon">
                </div>

                <a class="button is-success" href="{% url 'appointments:service_list' %}">
                    Add Services
                </a>
            </div>

        </div>
    </div>

    {% endif %}
    </section>



{% endblock %}