<!DOCTYPE html>
{% extends "base.html" %}

{% block head %}

    {% block title %}<title>Log In</title> {% endblock %}

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">


{% endblock %}
{% block navigation %}
    <nav class="navbar if" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'account:home' %}">
                            <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
                        </a>

                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                           data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="{% url 'account:gallery' %}">
                                Gallery
                            </a>

                            <a class="navbar-item" href="{% url 'account:services' %}">
                                Our Services
                            </a>

                            <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                                About Us
                            </a>


                            <div class="navbar-item has-dropdown is-hoverable">
                                <a class="navbar-link has-text-black">
                                    More
                                </a>

                                <div class="navbar-dropdown" style="color: black;">
                                    <a class="navbar-item">
                                        About
                                    </a>
                                    <a class="navbar-item">
                                        Jobs
                                    </a>
                                    <a class="navbar-item" style="color: black;">
                                        Contact
                                    </a>
                                    <hr class="navbar-divider">
                                    <a class="navbar-item">
                                        Report an issue
                                    </a>
                                </div>
                            </div>
                             <div class="navbar-end">
                            <div class="navbar-item">
                                <a class="button is-success" href="{% url 'account:home' %}">
                                    Book Appointment
                                </a>
                            </div>
                        </div>

                        </div>



                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="buttons">
                                    <a class="button is-info" href="{% url 'account:user_registration' %}">
                                        <strong>Sign up</strong>
                                    </a>
                                    <a class="button is-light" href="{% url 'account:user_login' %}">
                                        Log in
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

{% endblock %}

{% block mainbody %}

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">


                <h3 class="title has-text-white">Login</h3>
                <hr class="login-hr">
                <p class="subtitle has-text-white">Sign in to rejuvinate yourself.</p>

                <div class="box">
                    <div class="box">
                        <img src="https://designcuts.b-cdn.net/wp-content/uploads/2021/06/prew01-3.jpg"
                             style="width: 50%;">
                    </div>

                    <div class="title has-text-grey is-5">Please enter your email and password.</div>
                    <form class="px-5 py-3 mx-auto d-flex flex-column align-items-center" action="/login/"
                          method="post">
                        <input type="hidden" name="csrfmiddlewaretoken"
                               value="n6VKEp4pBqEzwKZ69jbSinmxzGZ3RC2Wgw2ERPW96Zf1C6dE50qlaEaEJT16Y0E5">
                        {% csrf_token %}

                        <div class="field">
                            <div class="control">
                                <input class="input is-medium " type="email" placeholder="Email" autofocus=""
                                       name="username" autofocus autocapitalize="none" autocomplete="username"
                                       maxlength="254" required id="id_username">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-medium is-fullwidth" placeholder="Password" type="password" name="password"
                                       autocomplete="current-password" required id="id_password">
                            </div>
                        </div>

                        <input type="hidden" name="next" value=""/>
                        <button class="button is-block is-primary is-large is-fullwidth" type="submit">Login</button>
                    </form>
                    <p class="has-text-grey">
                        <a href="{% url 'account:user_registration' %}">Sign Up</a> &nbsp;·&nbsp;
                        <a href="">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="">Need Help?</a>
                    </p>
                </div>
            </div>


        </div>
    </div>

{% endblock %}

</html>