<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}<title>Log In</title> {% endblock %}

{% block navigation %}
    <header class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <p class="title">Apple Nail Salon & Spa</p>
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="{% url 'account:home' %}">
                        Home
                    </a>
                    <a class="navbar-item" href="{% url 'account:contactUs' %}">Contact Us</a>

                    <a class="navbar-item is-active" href="{% url 'account:user_login' %}">
                        Login
                    </a>
                    <span class="navbar-item">
              <a class="button is-success is-inverted">

                <span>Sign Up</span>
              </a>
            </span>
                </div>
            </div>
        </div>
    </header>
    </div>

{% endblock %}

{% block mainbody %}
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Login Below
            </p>

            <div class="w-50 container p-5 pb-3 border border-4 border-secondary rounded-3">
                <form class="px-5 py-3 mx-auto d-flex flex-column align-items-center"
                      action="{% url 'account:user_login' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div id="login-form">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <p><input class="btn btn-primary rounded-pill m-auto text-ligh" type="submit" value="Log-in"></p>
                </form>
            </div>


        </div>
    </div>

{% endblock %}

</html>