{% extends "home.html" %}

{% block content %}
<div class="sale">
    <fieldset id="radioContainer">
        <legend>Sales</legend>
        {% if packet.sales|length == 0 %}
            <a>None</a>
        {% endif %}

        {% for id,service,tech,stat,checked in packet.sales %}
        <div class="item">
            <input {{ checked }} type="radio" name="sale_id" value="{{ id }}"/>
                <a>Technician: {{tech.0}} {{tech.1}}.</a><br>
                <a>Service: {{service}}.</a><br>
                <a>Status: {{stat}}.</a><br>
            <br><br>
        </div>
        {% endfor %}
        
    </fieldset>
</div>
{% endblock %}