<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="./Templates/home.css">
        <title>MANAGER CONTROL</title>
        {% endblock %}
    </head>
    
    <body>
        
        <h2>MANAGER CONTROL</h2>
        {% block content %}
        <!-- Master Control -->
        <div class="master_control">
            <button type="button" id="attendant">Technician Attendant</button>
            <button type="button" onclick="newtech()">New Technician</button>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="master_checkin">
            <div class="checkin_grid"> 
                {% for t in packet.scheduled %}
                <button type="button" class="checkin_btn" value="{{t.email}}"> <!-- ** SECURITY EXPOSE -->
                    {{t.name.first_name}} {{t.name.last_name}}
                    <br><span class="clock" id=""></span>
                </button>
                {% endfor %}
            </div>

            <div class="checkin_control">
                <button type="button" onclick="resetAttendance()" id="reset_checkin" class="checkin_contr_btn">Reset</button>
                <button type="button" id="add_checkin" class="checkin_contr_btn">Add Technician</button>
                <button type="button" onclick="postAttendance()" id="submit_checkin" class="checkin_contr_btn">Submit</button>
            </div>
            
            <div id="model_addCheckin">
                <div class="addCheckin-content">
                    <span class="close">&times;</span>
                    <a>Technician:</a>
                    <select name="technician_id" id="technician_id">
                        {% for t in packet.technicians %}
                        <option value="{{ t.email }}">{{ t.name.first_name }} {{ t.name.last_name }}</option>   <!-- ** SECURITY EXPOSE -->
                        {% endfor %}
                    </select>
                    <br><br>
                    <button type="button" onclick="addTech()" >Commit Add</button> 
                </div>
            </div>
        </div>

        <!-- Appointment/Sale Control -->
        <div class="master" id="scroll-container">
            {% for a in packet.appointments %}
            <form class="appointment" method="POST">
            {% csrf_token %}
                <button type="button" class="collapsible">
                Customer: {{a.customer.first_name}} {{a.customer.last_name}}.<br>
                Start time: {{a.start_time}}.<br>
                End time: {{a.end_time}}.<br>
                Total charge: {{a.totalCharge}}.
                </button> 
                <div class="a_control">
                    <input type="hidden" name="appointment_id" value="{{ a.id }}" />
                    <button type="submit" name="appointment_btn" value="Trigger">Trigger</button>
                    <button type="button" name="appointment_btn" id="a_modify" value="{{ a.id }}">Modify</button>
                    <button type="submit" name="appointment_btn" value="Cancel">Cancel</button>
                </div>
            </form>
            <div class="content">
                {% if a.sales|length > 0 %}
                <form method="POST">
                {% csrf_token %}
                    <div class="master_sale">
                        {% for s in a.sales %}
                        <div class="sale">
                            <input {{ s.check }} type="radio" name="sale_id" value="{{ s.id }}"/>
                            <a>Technician: {{s.technician.first_name}} {{s.technician.last_name}}.</a><br>
                            <a>Service: {{s.service}}.</a><br>
                            <a>Status: {{s.status}}.</a><br>
                        </div>
                        
                        {% endfor %} 
                    </div>
                    <div class="s_control">
                        <button type="button" name="sale_btn" id="s_modify">Modify</button>
                        <button type="submit" name="sale_btn" value="Cancel">Cancel</button>
                    </div>
                </form>
                {% else %}
                <a class="nosale">NO POSTED SALE</a>
                {% endif %} 
            </div>
            {% endfor %}

        </div>
        
        <!-- Modify Modal -->
        <form id="modal" method="POST">
            <input type="hidden" name="" value="" />
            {% csrf_token %}
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <a>Technician:</a>
                <select name="technician_id" id="technician_id">
                    {% for t in packet.technicians %}
                        <option value="{{ t.id }}">{{ t.name.first_name }} {{ t.name.last_name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <a>Start Time:</a>
                <select name="timeslot" id="timeslot">
                    {% for key,slot in packet.timeslots.items %}
                        <option value="{{ key }}">{{slot}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <button type="submit" name="sale_btn" id="modal_btn" value="Modify">Submit Modification</button>
            </div>
        </form>
        
        <!-- pass django data to js -->
        {{ packet.scheduled|json_script:"scheduled" }}
        {{ packet.technicians|json_script:"technicians" }}
        <script>
            var technicians_data = JSON.parse(document.getElementById('technicians').textContent);
            var scheduled_data = JSON.parse(document.getElementById('scheduled').textContent);
            //console.log(scheduled_data);
            //console.log(technicians_data);
        </script>
        <script src="./Templates/javascript/data_var.js"></script>
        <script src="./Templates/javascript/home_collapses.js"></script>
        <script src="./Templates/javascript/home_modals.js"></script>
        <script src="./Templates/javascript/home_checkin_control.js"></script>
        {% endblock %}
    </body>
</html>