{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Gallery</title>{% endblock %}


{% block navigation %}

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                 <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        My Account
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            My Appointment History
                        </a>
                        <a class="navbar-item">
                            My Profile
                        </a>
                        <a class="navbar-item" style="color: black;">
                            My Promotions
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Security Settings
                        </a>
                    </div>
                </div>
                {% endif %}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            About
                        </a>

                        <a class="navbar-item">
                            Jobs
                        </a>

                        <a class="navbar-item is-active" style="color: black;" href="{% url 'account:contactUs' %}">
                            Contact
                        </a>

                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>

                <span class="navbar-burger" data-target="navbarMenuHeroC">
          </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="button is-success" href="{% url 'account:home' %}">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        {% if request.user.is_authenticated %}
                            <a class="button is-normal" href="{% url 'account:customerView' %}">
                                Signout
                            </a>


                        {% else %}
                            <a class="button is-info" href="{% url 'account:user_registration' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'account:user_login' %}">
                                Log in
                            </a>

                        {% endif %}
                    </div>

                    <a class="navbar-item" href="{% url 'account:home' %}">
                        Home
                    </a>
                    <a class="navbar-item is-active" href="{% url 'account:contactUs' %}">Contact Us</a>
                    <a class="navbar-item" href="{% url 'account:user_login' %}">Login</a>
                    <a class="navbar-item" href="{% url 'account:user_registration' %}">SignUp</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


{% block mainbody %}
    <section class="hero is-fullheight">
        <div class="hero-head has-text-centered">
            <div class="">
                <p class="title has-text-black">
                    Our Gallery
                </p>
            </div>
            <section class="section has-text-left">
                <h1 class="title has-text-black">Nails</h1>
                <div class="imageContainer" style="width: 75%; overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
                    <img src="../../static/galleryImages/a.jpg" style="width: 250px; height: 250px;">
                    <img src="../../static/galleryImages/1.jpg" style="width: 250px; height: 250px;">
                    <img src="../../static/galleryImages/3.jpg" style="width: 250px; height: 250px;">
                    <img src="../../static/galleryImages/4.jpg" style="width: 250px; height: 250px;">
                    <img src="../../static/galleryImages/5.jpg" style="width: 250px; height: 250px;">
                    <img src="../../static/galleryImages/6.jpg" style="width: 250px; height: 250px;">

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Contact Us
            </p>
            <p><b>Address: 12005 W. Center Road Unit 98, Omaha, NE 68144</b></p>
            <p><b>Hour: Mon - Sat: 9:30am - 7:00pm
                Sun:   Closed
       </b></p>
       <p><b>Phone number: 402-991-7887</b></p>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.494877551189!2d-96.10389768461867!3d41.23277697927864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8793f304efcd9cfd%3A0x68c43ab90e82e2a9!2sApple%20Nails%20%26%20Spa!5e0!3m2!1sen!2sus!4v1663702680300!5m2!1sen!2sus" 
       width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>

            </section>

            <section class="section has-text-left">
                <h1 class="title has-text-black">Pedicures</h1>

            </section>
        </div>


    </section>



{% endblock %}

