{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Gallery</title>{% endblock %}


{% block navigation %}

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="button is-success" href="{% url 'account:home' %}">
                            Book Appointment
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        {% if request.user.is_authenticated %}
                            <a class="button is-normal" href="{% url 'account:customerView' %}">
                                Signout
                            </a>


                        {% else %}
                            <a class="button is-info" href="{% url 'account:user_registration' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'account:user_login' %}">
                                Log in
                            </a>

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}


{% block mainbody %}
    <section class="hero is-fullheight">
        <div class="hero-head has-text-centered">
            <div class="">
                <p class="title has-text-black">
                    Our Gallery
                </p>
            </div>
            <section class="section has-text-left">
                <h1 class="title has-text-black">Apple Nail Sample</h1>
                <div class="imageContainer">
                    <img src="../../static/galleryImages/a.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/1.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/3.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/4.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/5.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/6.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/Nail_on_request.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/Nail_on_request2.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/Nail_on_request3.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/Almond-shape.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/burberry line.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/Burberry.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/Coffin-shape.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/elegant burberry.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/Gold bold.jpg" style="width: 250px; height: 350px;">  
                    <img src="../../static/galleryImages/naildesignsabstract/Gold sparkle.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/naildesignsabstract/Interesting square.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/naildesignsabstract/Short.jpg" style="width: 250px; height: 350px;">  
                    <img src="../../static/galleryImages/naildesignsabstract/Simple.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/naildesignsabstract/square.jpg" style="width: 250px; height: 350px;">  
                    <img src="../../static/galleryImages/naildesignsabstract/teal almond.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/ombre/cheetah.jpg" style="width: 250px; height: 350px;">
                    <img src="../../static/galleryImages/ombre/round sparkle.jpg" style="width: 250px; height: 350px;">   
                    <img src="../../static/galleryImages/ombre/silver chrome.jpg" style="width: 250px; height: 350px;">    
                    <img src="../../static/galleryImages/ombre/urban.jpg" style="width: 250px; height: 350px;">  
                    <img src="../../static/galleryImages/simple/bloody coffin.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/candle.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/candy.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/cat eyes.jpg" style="width: 250px; height: 350px;">   
                    <img src="../../static/galleryImages/simple/fading coffin.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/ghost.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/ombre coffin.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/pattern.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/sassy pumpkin.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/sassy pumpkin1.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/short nail.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/short square.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/short.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/simple.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/skull.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/solid coffin.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/V-line.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/with French.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/simple/zoombie.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/specialgalaxy/blue coffin-shape.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/specialgalaxy/long coffin-shape.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/specialgalaxy/long pointed multicolor.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/specialgalaxy/orange square-shape.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/specialgalaxy/pink coffin.jpg" style="width: 250px; height: 350px;"> 
                    <img src="../../static/galleryImages/specialgalaxy/purple coffin.jpg" style="width: 250px; height: 350px;"> 
                </div>

            </section>
        </div>


    </section>



{% endblock %}

