{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>

{% block head %}

    {% block title %}<title>Change Password</title>{% endblock %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <script>
        var check = function () {
            if (document.getElementById('id_password1').value === document.getElementById('id_password2').value)
            {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Passwords Match! &#x2713;';
            }
        else
            {
                if(!(document.getElementById('id_password2').value.length == 0)  && document.getElementById('id_password1').value !== document.getElementById('id_password2').value) {
                    document.getElementById('message').style.color = 'red';
                    document.getElementById('message').innerHTML = 'Passwords do not match! &#10006;';
                }
            }
        }
    </script>

{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item" href="{% url 'account:profile' %}">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>


            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a href="{% url 'cart:cart_detail' %}" class="has-text-black">
                            <img src="../../static/shopping_bag.png" style=""/>
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                        ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                                {% else %}
                                    Empty
                                {% endif %}
                            {% endwith %}
                        </a>

                        &nbsp;
                        &nbsp;

                        <a class="button is-success" href="{% url 'appointments:service_list' %}">
                            Book Appointment
                        </a>

                        <a class="button is-light" href="{% url 'account:logout' %}">
                            Sign Out
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}

{% block mainbody %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-5 is-offset-3">

                <h3 class="title has-text-grey-dark">Change Your Password Below</h3>
                <hr class="signup-hr is-black">

                <div class="box">
                    <div class="box">
                        <img src="https://designcuts.b-cdn.net/wp-content/uploads/2021/06/prew01-3.jpg"
                             style="width: 50%;">
                    </div>
                </div>

                <div class="title has-text-grey is-5">Change your password below.</div>
                <form class="w-50 py-3 mx-auto d-flex flex-column align-items-center" method="post"
                      enctype="multipart/form-data" action="/profile/">
                    <input type="hidden" name="csrfmiddlewaretoken"
                           value="t6tJEb3ocIjIzvdOiA0tvhsltM2qTPBOqhimEWkW3jqJEMuUnmb92thzsqUkmbeI">

                    {% csrf_token %}

                    <p class="has-text-grey-dark">
                        Password must contain a mix of: <br>
                        Special characters (@, %,..) and AlphaNumeric (A-Z, a-z, 0-9)
                    </p>

                    <div class="field">
                        <div class="control">
                            <input class="input is-medium" type="password" name="password1" autocomplete="new-password"
                                   class="form-control"
                                   placeholder="New Password" required id="id_password1" onkeyup="check();">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-medium" type="password" name="password2" autocomplete="new-password"
                                   class="form-control"
                                   placeholder="New Password Confirmation" required id="id_password2" onkeyup="check();">
                        </div>
                    </div>

                    <div class="message is-medium" style="background-color: white;">
                        <span id="message"></span>
                    </div>

                    <button class="button is-block is-primary is-large is-fullwidth" type="submit">Change Password</button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}