{% extends "base.html" %}

{% load static %}

<!DOCTYPE html>

{% block title %}<title>Welcome, {{ this_user.first_name }}</title>{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item">
                    Our Services
                </a>

                <a class="navbar-item">
                    About Us
                </a>


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>


            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a class="button is-success" href="{% url 'account:home' %}">
                            Book Appointment
                        </a>

                        <a class="button is-light" href="{% url 'account:customerView' %}">
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

{% endblock %}


{% block mainbody %}
    <!-- Hero content: will be in the middle -->
    <div class="hero-body is-align-items-stretch" style="display: inline-block; padding: 15px; margin: auto;">
        <div class="container has-text-centered">
            <p class="title has-text-black">
                Hello {{ this_user.first_name }}
                <!-- If user has one or more appointments, render a table, otherwise display an image-->
            </p>
        </div>
    </div>
    <br>

    <div class="hero-body is-align-items-stretch" style="display: inline-block; padding: 15px; margin: auto;">
        <div class="container has-text-centered">
            <p class="title has-text-black">
                Current Appointments
                <!-- If user has one or more appointments, render a table, otherwise display an image-->
            <div class="box" style="">

                <div class="title has-text-grey is-5">It doesn't look like you have any appointments, for this
                    week, please book an appointment below.
                    <br>
                    <br>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjy3_45HDoLtedaF2WO4zWEmuP6VF4LCZBLg&usqp=CAU" alt="nail cartoon">
                </div>

                <a class="button is-success" href="{% url 'account:home' %}">
                    Book Appointment
                </a>
            </div>


        </div>
    </div>

    <div class="hero-body is-align-items-stretch" style="display: inline-block; padding: 15px; margin: auto;">
    <div class="container has-text-centered">
        <p class="title has-text-black">
            Recommendations
            <!-- If user has one or more appointments, render a table, otherwise display an image-->
        <div class="box" style="">

            <div class="title has-text-grey is-5">Below are some services that we think you may enjoy, also check out
                the services that we offer.
            </div>
                <a class="button is-info" href="{% url 'account:home' %}">
                    Our Services
                </a>
            </div>


        </div>
    </div>


{% endblock %}

