{% extends 'account/customerView.html' %}

{% load static %}
{% block title %}<title>Security Settings</title>{% endblock %}

<!DOCTYPE html>

{% block mainbody %}

    <section class="hero is-fullheight">

    <section class="hero-head has-text-centered">
        <p  class="title has-text-black">
            View Your Security Settings Below.
        </p>
    </section>
    <div class="hero-body is-align-items-stretch" style="display: inline-block; padding: 15px; margin: auto;">

                <a class="button is-info" href="">
                    Change Email
                </a>

                <a class="button is-info" href="{% url 'account:changePassword' %}">
                    Change Password
                </a>

                <a class="button is-info" href="">
                    Delete Account
                </a>

    </div>
    </section>

{% endblock %}


</html>