{% extends "base.html" %}

{% load static %}


{% block title %}<title>Choose Technician Below</title>{% endblock %}

{% block navigation %}

<nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>


            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">

                        <a href="{% url 'cart:cart_detail' %}" class="has-text-black">
                            <img src="../../static/shopping_bag.png" style=""/>
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                        ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                                {% else %}
                                    Empty
                                {% endif %}
                            {% endwith %}
                        </a>

                        &nbsp;
                        &nbsp;

                        <a class="button is-success" href="{% url 'appointments:service_list' %}">
                            Book Appointment
                        </a>

                        <a class="button is-light" href="{% url 'account:user_logout' %}">
                            Sign Out
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block mainbody %}
    <section class="section">
    {% if messages %}
        {% for message in messages %}

            <artcile class="message is-danger is-size-5-desktop">
                <div class="message-header">
                    <p>Please Correct Error Below</p>
                </div>
                <div class="message-body">
                    {{ message }}
                </div>
            </artcile>
        {% endfor %}

    {% endif %}

    </section>
    <h1>Choose from our technicians below.</h1>
    <form method="POST" class="post-form">

    {% csrf_token %}
    {% for tech in techs %}
        <input type="radio" id="tech_{{ tech.id }}" name="tech" value="{{ tech.id }}">
        <label for="tech_{{ tech.id }}"></label>

        <p>{{ tech.user.first_name }} {{ tech.user.last_name }}</p>
        <p>{{ tech.user.email }}</p>
        <p>{{ tech.bio }}</p>
        <p>{{ tech.age }}</p>

    {% endfor %}

        <p><input type="submit" name="schedule_with" value="Schedule Now!"></p>
        <p><input type="submit" name="schedule_random" value="Random"></p>




    </form>

{% endblock %}

