{% extends 'base.html' %}

{% load static %}

{% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}Order Now!{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>


{% endblock %}

{% block navigation %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'account:home' %}">
                <strong class="is is-size-4">Apple Nail Salon & Spa</strong>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'account:gallery' %}">
                    Gallery
                </a>

                <a class="navbar-item" href="{% url 'account:services' %}">
                    Our Services
                </a>

                <a class="navbar-item" href="{% url 'account:aboutUs' %}">
                    About Us
                </a>

                {% if request.user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-black">
                            My Account
                        </a>

                        <div class="navbar-dropdown" style="color: black;">
                            <a class="navbar-item">
                                My Appointment History
                            </a>
                            <a class="navbar-item" href="{% url 'account:profile' %}">
                                My Profile
                            </a>
                            <a class="navbar-item" style="color: black;">
                                My Promotions
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{% url 'account:security' %}">
                                Security Settings
                            </a>
                        </div>
                    </div>
                {% endif %}


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-black">
                        More
                    </a>

                    <div class="navbar-dropdown" style="color: black;">
                        <a class="navbar-item">
                            Meet the team
                        </a>
                        <a class="navbar-item">
                            Career Opportunities
                        </a>
                        <a class="navbar-item" style="color: black;">
                            Promotions
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    <a href="{% url 'cart:cart_detail' %}" class="has-text-black" style="padding-right: 15px;">
                        <img src="../../static/shopping_bag.png" style=""/>
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                ${{ cart.get_total_price }}&emsp;&emsp;&emsp;

                            {% else %}
                                Empty
                            {% endif %}
                        {% endwith %}
                    </a>

                    <a class="button is-success" href="{% url 'appointments:service_list' %}">
                        Book Appointment
                    </a>

                    <a class="button is-light" href="{% url 'account:logout' %}">
                        Sign Out
                    </a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}

{% block mainbody %}
    <section class="hero is-fullheight">

        <div class="banner">
            <div class="hero-head has-text-centered">
                <p class="title is-size-1 has-text-grey-dark" style="margin-top: 5%; margin-bottom: 0;">
                    Add Services For Your Next Appointment Below
                </p>
            </div>
        </div>

        <div class='parent'>
            <div class='child'>
                <div class="box has-text-left">
                    {% if cart|length > 0 %}
                        <!--make the progress bar display a green check mark for the first step, and give them the option to continue.
                        this design will need to be consistent throughout all of the pages -->
                        <a href="{% url 'appointments:service_list' %}">

                            <div class="step has-text-centered"
                                 style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 0%; width: 15%;">
                                <iconify-icon icon="carbon:shopping-bag" width="50"></iconify-icon>

                                <p>Add service(s) below</p>


                            </div>
                        </a>

                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="ant-design:check-circle-outlined" width="50"></iconify-icon>

                            <p>Confirm your services</p>

                        </div>

                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="bi:person-check-fill" width="50"></iconify-icon>

                            <p>Select Technician</p>

                        </div>

                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">

                            <iconify-icon icon="akar-icons:calendar" width="50"></iconify-icon>
                            <p>Select Date & Time</p>

                        </div>

                        <div class="step has-text-centered"
                             style="display: inline-block; padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="ant-design:check-circle-outlined" width="50"></iconify-icon>


                            <p>Confirm your appointment</p>

                        </div>


                        <div class="stepsNumbers" style="display: flex; align-items: center;">
                            <iconify-icon icon="bi:1-circle-fill" width="25"
                                          style="margin-left: 6%; color: lightgreen;"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:2-circle" width="25"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:3-circle" width="25"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 17%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:4-circle" width="25"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:5-circle" width="25"></iconify-icon>

                        </div>


                    {% else %}
                        <!--make the progress bar display a green check mark for the first step, and give them the option to continue.
                        this design will need to be consistent throughout all of the pages -->
                        <a href="{% url 'appointments:service_list' %}">

                            <div class="step has-text-centered"
                                 style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 0%; width: 15%;">
                                <iconify-icon icon="carbon:shopping-bag" width="50"></iconify-icon>

                                <p>Add service(s) below</p>


                            </div>
                        </a>

                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>

                            <p>Confirm your services</p>

                        </div>

                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="bi:person-check-fill" width="50"></iconify-icon>

                            <p>Select Technician</p>

                        </div>

                        <div class="step has-text-centered"
                             style="display: inline-block;  padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="akar-icons:calendar" width="50"></iconify-icon>

                            <p>Select Date & Time</p>

                        </div>

                        <div class="step has-text-centered"
                             style="display: inline-block; padding: 1%; margin: 0% 2% 0% 3%; width: 15%; opacity: 0.2;">
                            <iconify-icon icon="line-md:circle-to-confirm-circle-transition" width="50"></iconify-icon>

                            <p>Confirm your appointment</p>

                        </div>


                        <div class="stepsNumbers" style="display: flex; align-items: center;">
                            <iconify-icon icon="bi:1-circle-fill" width="25"
                                          style="margin-left: 6%; color: gray;"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:2-circle" width="25"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:3-circle" width="25"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 17%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:4-circle" width="25"></iconify-icon>

                            <div class="hr" style="border: 1px solid black; width: 18%; display: inline-block; ">
                            </div>

                            <iconify-icon icon="bi:5-circle" width="25"></iconify-icon>

                        </div>



                    {% endif %}
                </div>
            </div>
            <div class='child'>
                {% if cart|length > 0 %}

                    <a class="button is-info" href="{% url 'cart:cart_detail' %}">Continue</a>
                {% endif %}
            </div>
        </div>


        <div class="grid-container">

            <div class="grid-child-categories">
                <nav class="panel">
                    <p class="panel-heading" style="background-color: lightpink">
                        Categories
                    </p>
                    <div class="panel-block">
                        <p class="control has-icons-left">
                            <input class="input" type="text" placeholder="Search">
                            <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
                        </p>
                    </div>
                    <p class="panel-tabs">
                        <a class="is-active">All</a>
                        <a>Nails</a>
                        <a>Waxing</a>
                        <a>Manicure</a>
                        <a>Pedicure</a>
                        <a></a>
                    </p>
                    <a class="panel-block is-active">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        Nail Paintings
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        Nail Filing
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        Feet Treatment
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        Lip Waxing
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-code-branch" aria-hidden="true"></i>
    </span>
                        Ear Waxing
                    </a>

                </nav>
            </div>

            <div class="grid-child-services">

                <div class="services has-text-centered"
                     style="overflow-y: scroll; height: 750px; margin-right: 5%; overflow-x: hidden;">
                    <!-- Iterate and display a card of products recall that if overflow occurs a scroll bar will be used.-->

                    <div class="p-3 columns is-flex-wrap-wrap">

                        {% for service in services %}
                            <!-- create a styled box for each of the dates and then render them that way-->

                            <a href="">

                                <div class="card" style="width: 18rem; margin: 1%; height: 100%;">
                                    <div class="card-image">
                                        <figure class="image is-4by3">
                                            <img src="https://images6.alphacoders.com/348/348005.jpg">
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">

                                            <div class="media-content" style="height: 75px; margin: 0;">
                                                <p class="title is-4 has-text-black">{{ service.name }}</p>
                                            </div>

                                        </div>
                                        <p class="subtitle is-6 has-text-black">{{ service.category }}</p>
                                        <p class="subtitle is-6 has-text-black">${{ service.price }}</p>

                                    </div>
                                    <footer class="card-footer">
                                        <a class="button is-primary is-fullwidth"
                                           href="{% url 'cart:cart_add' service.id %}" class="card-footer-item">Add To
                                            Cart</a>

                                    </footer>
                                </div>

                            </a>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}